<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>project3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body background="main_pic_3.jpg" background-size: 300px 100px;>
  <div class="header">
    <nav class="navbar navbar-default justify-content-end">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">
            <img class="logo" src="logo.jpg" width=150 height=100>
          </a>
          <!-- HealthBuddy -->
          <font size="+3">HealthBuddy</font>
        </div>

        <!-- <ul class="nav nav-tabs">
          <li class="nav-item " id="active">
            <a class="nav-link" href="http://localhost:5000/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5000/recipe-page">Find Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5000/wine-page">Wine Pairings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5000/wine-recommendation-page">Wine Recommendations</a>
          </li> -->
        <!-- </ul> -->
        <form action="action_page.php" method="post">
            <!-- <div class="imgcontainer">
              <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>
           -->
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
          
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          
            <div class="container" style="background-color:#f1f1f1">
              <button type="button" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
      </div>
    </nav>
  </div>
  <div class="banner">
    <div class="container banner-title">
      <div class="banner-text">
        <h1>Track your Activity<br><br>
          Get Health Incentives
        </h1>
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/app.js"></script>
</body>

</html>